{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur notre page d'accueil{% endblock %}

{% block body %}
    {% include "layout/header.html.twig" %}
    {% include "layout/flashy.html.twig" %}
    <div class="container my-24 px-6 mx-auto flex flex-lg-row">
            <div class="w-3/6 h-full">
                <h1 class="ml-4 text-3xl font-bold">Prochain event</h1>
                <div class="flex flex-wrap gap-5 p-4">
                    <div class="font-bold pb-2 text-blue-700 content-center">{{ event.date|date("d/m/Y") }}</div>
                    <div class="event-container relative" data-id="{{ event.id }}">
                        <img src="{{ asset("images/back-icon.png") }}" alt="Voir l'évènement" class="back">
                        <div style="background-image: url({{ asset("images/event-judo.jpg") }});" class="cursor-pointer absolute h-full w-full event-test flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 bg-cover">
                            <div class="flex flex-col justify-between p-4 leading-normal">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ event.title }}</h5>
                                <p class="mb-3 font-normal text-gray-900 dark:text-gray-400">{{ event.content }}</p>
                            </div>
                        </div>
                        <div class="absolute h-full w-full event-map flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700" id="{{ "map" ~ event.id }}" data-lat="{{ event.latitude }}" data-lng="{{ event.longitude }}"></div>
                    </div>
                </div>
            </div>
            <div class="w-3/6 h-full">
                <h1 class="ml-4 text-3xl font-bold">Prochain entrainement</h1>
                <div class="flex flex-wrap gap-5 p-4">
                    <div class="font-bold pb-2 text-blue-700 content-center">{{ training.beginAt|date("d/m/Y") }}</div>
                    <div class="event-container relative" data-id="{{ training.id }}">
                        <img src="{{ asset("images/back-icon.png") }}" alt="Voir l'évènement" class="back">
                        <div class="cursor-pointer absolute h-full w-full event-test flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                            <div class="flex flex-col justify-between p-4 leading-normal">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ training.title }}</h5>
                            </div>
                            <img class="ml-5 object-cover rounded-t-lg md:h-24 md:w-24 md:rounded-none md:rounded-l-lg" src="{{  asset("images/training.jpg") }} }}" alt="photo de l'évènement">

                        </div>
                        <div class="absolute h-full w-full event-map flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700" id="{{ "map" ~ training.id }}" data-lat="" data-lng=""></div>
                    </div>
                </div>
            </div>
    </div>
    <!-- Container for demo purpose -->
    <div class="container my-24 px-6 mx-auto">

        <!-- Section: Design Block -->
        <section class="mb-32 text-gray-800">

            <h2 class="text-3xl font-bold mb-12 text-center">Les 3 derniers articles</h2>

            <div class="grid lg:grid-cols-3 gap-6">
                <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg"
                     style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/051.jpg" class="w-full" />
                    <a href="#!">
                        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                             style="background-color: rgba(0, 0, 0, 0.4)">
                            <div class="flex justify-start items-end h-full">
                                <div class="text-white m-6">
                                    <h5 class="font-bold text-lg mb-3">I miss the sun</h5>
                                    <p>
                                        <small>Published <u>13.01.2022</u> by Anna Maria Doe</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
                     data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/028.jpg" class="w-full" />
                    <a href="#!">
                        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                             style="background-color: rgba(0, 0, 0, 0.4)">
                            <div class="flex justify-start items-end h-full">
                                <div class="text-white m-6">
                                    <h5 class="font-bold text-lg mb-3">A hut in the mountains</h5>
                                    <p>
                                        <small>Published <u>07.01.2022</u> by David Beak</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
                     data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/049.jpg" class="w-full" />
                    <a href="#!">
                        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                             style="background-color: rgba(0, 0, 0, 0.4)">
                            <div class="flex justify-start items-end h-full">
                                <div class="text-white m-6">
                                    <h5 class="font-bold text-lg mb-3">Beautiful waterfall</h5>
                                    <p>
                                        <small>Published <u>04.01.2022</u> by Joe Svan</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </section>
        <!-- Section: Design Block -->
    </div>
    <!-- Container for demo purpose -->
    <!-- Container for demo purpose -->
    <div class="container my-24 px-6 mx-auto">

        <!-- Section: Design Block -->
        <section class="mb-32 text-gray-800 text-center">
            <style>
                .grayscale {
                    filter: grayscale(100%);
                }
            </style>
            <h2 class="text-3xl font-bold mb-12">Trusted by <u class="">2,000,000+</u> users</h2>

            <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6 items-center">
                <div class="mb-12 lg:mb-0">
                    <img
                            src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/2.png"
                            class="img-fluid grayscale px-6 md:px-12"
                            alt="Nasa - logo"
                    />
                </div>

                <div class="mb-12 lg:mb-0">
                    <img
                            src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/1.png"
                            class="img-fluid grayscale px-6 md:px-12"
                            alt="Amazon - logo"
                    />
                </div>

                <div class="mb-12 lg:mb-0">
                    <img
                            src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/3.png"
                            class="img-fluid grayscale px-6 md:px-12"
                            alt="Nike - logo"
                    />
                </div>

                <div class="mb-12 lg:mb-0">
                    <img
                            src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/4.png"
                            class="img-fluid grayscale px-6 md:px-12"
                            alt="Ikea - logo"
                    />
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->

    </div>
    <!-- Container for demo purpose -->
    {% include "layout/footer.html.twig" %}
{% endblock %}