<h1>Bonjour! Une membre demande à être enregistré!</h1>

<p>
    Voici son prénom: {{ user.lastname }}, nom: {{ user.firstname }}, email: {{ user.email }}
    Veuillez confirmer son inscription ou le refusé: <br><br>
    <a href="{{ signedUrl }}">Accepté</a> <br>
    ou <br>
    <a href="{{ url('user_delete', { id: user.id }) }}">Refusé</a> <br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

