<h1>Bonjour! Une membre demande à être enregistré!</h1>

<p>
    Voici son prénom: {{ user.lastname }}, nom: {{ user.firstname }}, email: {{ user.email }}
    Veuillez confirmer son inscription ou le refusé: <br><br>
    <a href="{{ signedUrl }}">Accepté</a> <br>
    ou <br>
    Vous pouvez le supprimer directement depuis votre dashboard administrateur. <a href="https://berville-judo-club.fr/login">Refusé</a>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

