<div class="flex flex-wrap gap-10 p-8">
    {% for event in events %}
        <div>
            <div class="font-bold pb-2 text-blue-700 content-center">{{ event.date|date("d/m/Y") }}</div>
            <div class="event-container relative" data-id="{{ event.id }}">
                <img src="{{ asset("images/back-icon.png") }}" alt="Voir l'évènement" class="back">
                <div class="cursor-pointer absolute h-full w-full event flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    {% for image in event.images %}
                        <img class="ml-5 object-cover w-full h-96 rounded-t-lg md:h-24 md:w-24 md:rounded-none md:rounded-l-lg" src="{{ asset('uploads/event/img/'~ image.name) | default('undefined') | imagine_filter('thumbevent') }}" alt="photo de l'évènement">
                    {% endfor %}
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ event.title }}</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ event.content }}</p>
                    </div>
                </div>
                <div class="absolute h-full w-full event-map flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700" id="{{ "map" ~ event.id }}" data-lat="{{ event.latitude }}" data-lng="{{ event.longitude }}"></div>
            </div>
        </div>
    {% endfor %}
</div>