{% extends 'base.html.twig' %}

{% block title %}Les évènements{% endblock %}

{% block body %}
    {% include "layout/header.html.twig" %}
    {% set months = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'] %}
    {% set currentYear = "now"|date("Y")  %}
    {% set currentMonth = "now"|date|localizeddate('none', 'none', null, null, 'MMMM')  %}
    <form>
        <div class="block text-center">
            {% include "training/calendar.html.twig" %}
            <h2 class="text-1xl mt-8 ml-8 font-bold leading-7 text-gray-700 sm:text-3xl sm:truncate">Les prochains évènements</h2>
            <div class="mt-4">
                <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-25 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="months" id="months">
                    <option value="">{{ currentMonth }}</option>
                    {% for month in months %}
                        <option value="{{ loop.index }}">{{ month }}</option>
                    {% endfor %}
                </select>
                {% set year = (currentYear|localizeddate('none', 'none', null, null, 'Y')) %}
                <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-25 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="years" id="years">
                    <option value="">{{ currentYear }}</option>
                    {% for i in year-5..year+5  %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <button class="uppercase mx-auto shadow bg-blue-600 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded" type="button" id="choiceMonth">Valider</button>
            </div>
        </div>
    </form>
    {% if events|length == 0 %}
        <div class="bg-blue-100 rounded-lg py-5 px-6 mb-4 text-base text-blue-700 mb-3 text-center mt-5" role="alert">
            Pas d'évènements prévus pour ce mois-ci !
        </div>
    {% else %}
        <div id="cardEventContainer">
            {% include "maps/card.html.twig" %}
        </div>
    {% endif %}
    {#<div class="flex flex-wrap gap-10 p-8">
        {% for event in events %}
            <div>
                <div class="font-bold pb-2 text-blue-700 content-center">{{ event.date|date("d/m/Y") }}</div>
                <div class="event-container relative" data-id="{{ event.id }}">
                    <img src="{{ asset("images/back-icon.png") }}" alt="Voir l'évènement" class="back">
                    <div class="cursor-pointer absolute h-full w-full event flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                        {% for image in event.images %}
                            <img class="ml-5 object-cover w-full h-96 rounded-t-lg md:h-24 md:w-24 md:rounded-none md:rounded-l-lg" src="{{ asset('uploads/event/img/'~ image.name) | default('undefined') | imagine_filter('thumbevent') }}" alt="photo de l'évènement">
                        {% endfor %}
                        <div class="flex flex-col justify-between p-4 leading-normal">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ event.title }}</h5>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ event.content }}</p>
                        </div>
                    </div>
                    <div class="absolute h-full w-full event-map flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700" id="{{ "map" ~ event.id }}" data-lat="{{ event.latitude }}" data-lng="{{ event.longitude }}"></div>
                </div>
            </div>
        {% endfor %}
    </div>#}
    {% include "layout/footer.html.twig" %}
{% endblock %}
