<div  id="page-wrap" class="w-1/4 lg:flex text-gray-200 flex-col">
    <a href='{{ path('home_dashboard') }}'>
        <div class="flex p-4 items-center">
            <div class="w-12 h-12 rounded-lg mr-4 bg-gradient-to-br to-pink-500 from-pink-300 flex items-center justify-center">
                <i class="fas fa-user"></i>
            </div>
            {% if app.user %}
                <p class="font-semibold text-2xl">{{ app.user.lastname }}</p>
            {% endif %}
        </div>
    </a>
    <div>
        <ul>
            <a href='{{ path('home_dashboard') }}'>
                <li class="flex px-4 items-center mt-10 {{ app.request.get('_route') == 'home_dashboard' ? 'active [&.active]:rounded-r-full w-full py-4 bg-indigo-900' }}">
                    <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                        <i class="fas fa-desktop"></i>
                    </div>
                    <p class="font-medium text-lg">Tableau de bord</p>
                </li>
            </a>
            <a href='{{ path('home_user') }}'>
                <li class="flex px-4 items-center my-4 {{ app.request.get('_route') == 'home_user' ? 'active [&.active]:rounded-r-full w-full py-4 bg-indigo-900' }}">
                    <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                        <i class="fas fa-users"></i>
                    </div>
                    <p class="font-medium text-lg">Membres</p>
                </li>
            </a>
            <a href='{{ path('role_home') }}'>
                <li class="flex px-4 items-center my-4 {{ app.request.get('_route') == 'role_home' ? 'active [&.active]:rounded-r-full w-full py-4 bg-indigo-900' }}">
                    <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                        <i class="fas fa-user-tag"></i>
                    </div>
                    <p class="font-medium text-lg">Rôles</p>
                </li>
            </a>
            <a href='{{ path('event_home') }}'>
                <li class="flex px-4 items-center my-4 {{ app.request.get('_route') == 'event_home' ? 'active [&.active]:rounded-r-full w-full py-4 bg-indigo-900' }}">
                    <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                        <i class="far fa-calendar-alt"></i>
                    </div>
                    <p class="font-medium text-lg">Evénements</p>
                </li>
            </a>
            <a href='{{ path('article') }}'>
                <li class="flex px-4 items-center my-4 {{ app.request.get('_route') == 'article' ? 'active [&.active]:rounded-r-full w-full py-4 bg-indigo-900' }}">
                    <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                        <i class="fas fa-newspaper"></i>
                    </div>
                    <p class="font-medium text-lg">Articles</p>
                </li>
            </a>
            <a href='{{ path('tag_home') }}'>
                <li class="flex px-4 items-center my-4 {{ app.request.get('_route') == 'tag_home' ? 'active [&.active]:rounded-r-full w-full py-4 bg-indigo-900' }}">
                    <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                        <i class="fas fa-tags"></i>
                    </div>
                    <p class="font-medium text-lg">Tags</p>
                </li>
            </a>
            <a href='{{ path('app_training_show') }}'>
                <li class="flex px-4 items-center my-4 {{ app.request.get('_route') == 'app_training_show' ? 'active [&.active]:rounded-r-full w-full py-4 bg-indigo-900' }}">
                    <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                        <i class="far fa-calendar"></i>
                    </div>
                    <p class="font-medium text-lg">Planning</p>
                </li>
            </a>
            <a href='{{ path('partner_show') }}'>
                <li class="flex px-4 items-center my-4 {{ app.request.get('_route') == 'partner_show' ? 'active [&.active]:rounded-r-full w-full py-4 bg-indigo-900' }}">
                    <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                        <i class="fas fa-hands-helping"></i>
                    </div>
                    <p class="font-medium text-lg">Partenaires</p>
                </li>
            </a>
        </ul>
    </div>
    <div class="bg-purple-800 m-4 flex flex-col rounded-lg p-8 items-center justify-evenly">
        <div class="flex items-center">
            <div class="h-10 w-10 flex items-center justify-center rounded-lg bg-green-400 text-gray-50">
                <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
                </svg>
            </div>
            <div class="flex ml-4 flex-col">

            </div>
        </div>
        <div class="w-full flex mt-4">

        </div>
    </div>
    <a href='{{ path('app_logout') }}'>
        <div class="flex px-4 items-center my-4">
            <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                <i class="fas fa-sign-out-alt"></i>
            </div>
            <p class="font-medium text-lg">Déconnexion</p>
        </div>
    </a>
    <a href='{{ path('app_homepage') }}'>
        <div class="flex px-4 items-center my-4">
            <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                <i class="fas fa-pager"></i>
            </div>
            <p class="font-medium text-lg">Retour sur le site</p>
        </div>
    </a>
</div>