{% extends 'base.html.twig' %}

{% block title %}Un article du club{% endblock %}

{% block body %}
    {% include "layout/header.html.twig" %}
    <div class="relative h-96 mt-5">
        {% for mainImage in articles.mainImage %}
            <img
                    class="w-full h-full object-cover justify-center mx-auto"
                    src="{{ asset('uploads/mainArticle/img/' ~ mainImage.name) }}"
                    alt=""
            />
        {% endfor %}
    </div>
    <div class="max-w-4xl mx-auto bg-white py-12 px-12 lg:px-24 -mt-32 relative z-10">
        <h2 class="mt-4 uppercase tracking-widest text-xs text-gray-600">{{ articles.createdAt|date("d/m/Y") }}</h2>
        <h1 class="font-display text-2xl md:text-3xl text-gray-900 mt-4">{{ articles.title}}</h1>
        <div class="prose prose-sm sm:prose lg:prose-lg mt-6">
            <p>{{ articles.content }}</p>
        </div>
    </div>
    <section class="overflow-hidden text-gray-700 ">
        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
            <div class="flex flex-wrap -m-1 md:-m-2">
                {% for image in articles.images %}
                    <div class="flex flex-wrap w-1/3">
                        <div class="w-full p-1 md:p-2">
                            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{ asset('uploads/article/img/' ~ image.name) }}" alt=""/>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include "layout/footer.html.twig" %}
{% endblock %}