{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <section class="min-h-screen bg-gradient-to-br from-purple-900 to-indigo-900 flex">
        <div  id="page-wrap" class=" w-1/4 lg:flex text-gray-200 flex-col">
            <a href='{{ path('home_dashboard') }}'>
                <div class="flex p-4 items-center">
                    <div class="w-12 h-12 rounded-lg mr-4 bg-gradient-to-br to-pink-500 from-pink-300 flex items-center justify-center">
                        <i class="fas fa-user"></i>
                    </div>
                    <p class="font-semibold text-2xl">Johan</p>
                </div>
            </a>
            <div>
                <ul>
                    <a href='{{ path('home_dashboard') }}'>
                        <li class="flex px-4 items-center mt-10">
                            <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                                <i class="fas fa-desktop"></i>
                            </div>
                            <p class="font-medium text-lg">Tableau de bord</p>
                        </li>
                    </a>
                    <a href='{{ path('home_user') }}'>
                        <li class="flex px-4 items-center my-4">
                            <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                                <i class="fas fa-users"></i>
                            </div>
                            <p class="font-medium text-lg">Membres</p>
                        </li>
                    </a>
                    <a href='{{ path('role_home') }}'>
                        <li class="flex px-4 items-center my-4">
                            <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                                <i class="fas fa-user-tag"></i>
                            </div>
                            <p class="font-medium text-lg">Rôles</p>
                        </li>
                    </a>
                    <a href='{{ path('event_home') }}'>
                        <li class="flex px-4 items-center my-4">
                            <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <p class="font-medium text-lg">Evénements</p>
                        </li>
                    </a>
                    <a href='{{ path('article') }}'>
                        <li class="flex px-4 items-center my-4 rounded-r-full w-full py-4 bg-indigo-900">
                            <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                                <i class="fas fa-newspaper"></i>
                            </div>
                            <p class="font-medium text-lg">Articles</p>
                        </li>
                    </a>
                    <a href='{{ path('tag_home') }}'>
                        <li class="flex px-4 items-center my-4">
                            <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                                <i class="fas fa-tags"></i>
                            </div>
                            <p class="font-medium text-lg">Tags</p>
                        </li>
                    </a>
                    <li class="flex px-4 items-center my-4">
                        <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                            <i class="far fa-envelope"></i>
                        </div>
                        <p class="font-medium text-lg">Messagerie</p>
                    </li>
                </ul>
            </div>
            <div class="bg-purple-800 m-4 flex flex-col rounded-lg p-8 items-center justify-evenly">
                <div class="flex items-center">
                    <div class="h-10 w-10 flex items-center justify-center rounded-lg bg-green-400 text-gray-50">
                        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
                        </svg>
                    </div>
                    <div class="flex ml-4 flex-col">

                    </div>
                </div>
                <div class="w-full flex mt-4">

                </div>
            </div>
            <a href='{{ path('app_logout') }}'>
                <div class="flex px-4 items-center my-4">
                    <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                    <p class="font-medium text-lg">Déconnexion</p>
                </div>
            </a>
            <a href='{{ path('app_homepage') }}'>
                <div class="flex px-4 items-center my-4">
                    <div class="w-10 h-10 mr-4 flex justify-center items-center bg-gray-50 opacity-50 rounded-lg text-purple-800">
                        <i class="fas fa-pager"></i>
                    </div>
                    <p class="font-medium text-lg">Retour sur le site</p>
                </div>
            </a>
        </div>
        <div class="lg:w-4/4 w-full p-4">
            <div class="bg-gray-100 p-8 flex flex-col rounded-3xl h-full w-full">
                <div id="flashy" class="message-flash">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            {% if label == 'success' %}
                                <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
                                    <span class="font-medium">Success alert!</span>   {{ message }}
                                </div>
                            {% elseif label == 'error' %}
                                <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
                                    <span class="font-medium">Danger alert!</span>  {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="flex justify-between items-center">
                    <div class="flex flex-col">
                        <h1 class="text-gray-600 font-bold text-4xl">Les articles</h1>
                    </div>
                    <button class="bg-green-200 relative h-12 w-12 rounded-lg flex justify-center items-center">
                        <div class="w-6 h-6 transform font-bold text-xs -translate-y-2 translate-x-2 border-2 border-gray-100 absolute top-0 right-0 rounded-full text-gray-50 bg-green-500 flex justify-center items-center">
                            1
                        </div>
                        <svg class="w-8 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                        </svg>
                    </button>
                </div>
                <div class="flex flex-col lg:flex-row justify-center">
                    <article class="mx-auto group w-full shadow-2xl max-w-md pb-8 rounded-b-2xl transform duration-500 hover:-translate-y-2 cursor-pointer">
                                <section class="content bg-cover bg-center h-64 rounded-2xl" {% for mainImage in article.mainImage %}style="background-image: url('uploads/mainArticle/img/{{ mainImage.name }}');"{% endfor %}>
                                    <div class="flex items-end w-full h-full bg-black bg-opacity-20 text-white text-sm font-bold  p-4 rounded-2xl">
                                        <div class="w-1/2 flex items-center">
                                        </div>
                                    </div>
                                </section>
                                <div class="my-5 p-4 flex">
                                    <div class="w-full flex justify-between space-x-1">
                                        {% for image in article.images %}
                                            <img class="w-10 h-10 rounded-md" src="{{ asset('uploads/article/img/'~image.name) | default('undefined') | imagine_filter('thumbarticle') }}" alt="photo de l'article">
                                            <a href="{{ path('article_photo_delete', {'image_id':image.id, 'article_id':article.id}) }}">supprimer la photo</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="mt-14 px-4">
                                    {% for tags in article.tag %}
                                        <div class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full">
                                            {{ tags.name }}
                                        </div>
                                    {% endfor %}
                                    <h2 class="mt-4 text-base font-medium text-gray-400">{{ article.title }}</h2>
                                    <p class="mt-2 text-2xl text-gray-700">{{ article.content }}  </p>
                                </div>
                                <div class="flex justify-start px-5 mb-2 mt-5 text-sm text-gray-600">
                                    <a class="cursor-pointer hover:underline" target="_blank" href="https://unsplash.com/photos/zNN6ubHmruI">{{ article.user }}</a>
                                </div>
                            </article>
                </div>
                <div class="m-6 space-x-3 flex justify-center">
                    <a href="{{ path('article') }}">
                        <button  aria-label="Retourner sur la liste" data-balloon-pos="up" class="inline-block p-3 text-center text-white transition bg-blue-700  shadow ripple hover:shadow-lg hover:bg-blue-800 focus:outline-none">
                            <i class="fas fa-undo"></i>
                        </button>
                    </a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">
                        <button aria-label="Editer l'article" data-balloon-pos="up" class="inline-block p-3 text-center text-white transition bg-blue-700  shadow ripple hover:shadow-lg hover:bg-blue-800 focus:outline-none">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                    {{ include('article/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        window.onload = () => {
            if (document.querySelector('#flashy')) {
                function stopMessageFlash() {
                    const flashy = document.querySelector('#flashy');
                    flashy.classList.replace('message-flash', 'message-end');
                }
                setTimeout(stopMessageFlash, 4000);
                setTimeout(() => {
                    document.querySelector('#flashy').remove();
                }, 6000)
            }
        }
    </script>
{% endblock %}

{#<div class="mt-6 md:p-8 p-2 bg-white">
    <!--Banner image-->

    <!--Tag-->
    {% for tag in article.tag %}
        <p class="text-indigo-500 font-semibold text-base mt-2">{{ tag.name }}</p>
    {% endfor %}
    <!--Title-->
    <h1 class="font-semibold text-gray-900 leading-none text-xl mt-1 capitalize truncate">{{ article.title }}</h1>
    <!--Description-->
    <div class="max-w-full">
        <p class="text-base font-medium tracking-wide text-gray-600 mt-1">
            {{ article.content }}
        </p>
    </div>
    {% for mainImage in article.mainImage %}
        <img class="flex" src="{{ asset('uploads/mainArticle/img/'~mainImage.name) | default('undefined') | imagine_filter('thumbarticle') }}" alt="photo principale de l'article"/>
        <a href="{{ path('article_main_photo_delete', {'image_id':mainImage.id, 'article_id':mainImage.mainArticle.id}) }}">supprimer la photo</a>
    {% endfor %}
    {% for image in article.images %}
        <img class="flex" src="{{ asset('uploads/article/img/'~image.name) | default('undefined') | imagine_filter('thumbarticle') }}" alt="photo de l'article"/>
        <a href="{{ path('article_photo_delete', {'image_id':image.id, 'article_id':article.id}) }}">supprimer la photo</a>
    {% endfor %}
    <div class="flex items-center space-x-2 mt-20">
        <!--Author's profile photo-->
        <img class="w-10 h-10 object-cover object-center rounded-full" src="https://randomuser.me/api/portraits/men/54.jpg" alt="random user"/>
        <div>
            <!--Author name-->
            <p class="text-gray-900 font-semibold">{{ article.user.firstname }} {{ article.user.lastname }}</p>
            <p class="text-gray-500 font-semibold text-sm">
                {{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}
            </p>
        </div>
    </div>
</div>#}
