{{ form_start(userForm, {'attr': {'novalidate': 'novalidate', 'class': 'flex text-gray-400 font-medium flex-col'}}) }}

{{ form_label(userForm.firstname, 'Nom', {'label_attr': {'class': 'uppercase mt-4'}, errors: []}) }}
                    {{ form_widget(userForm.firstname, {'attr': {'class': 'border px-4 ring-2 focus:ring-blue-300 ring-transparent transform duration-200 ease-in-out py-2 rounded-lg focus:outline-none'}}) }}
<div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{ form_errors(userForm.firstname) }}</div>

{{ form_label(userForm.lastname, 'Prénom', {'label_attr': {'class': 'uppercase mt-4'}, errors: []}) }}
                    {{ form_widget(userForm.lastname, {'attr': {'class': 'border px-4 ring-2 focus:ring-blue-300 ring-transparent transform duration-200 ease-in-out py-2 rounded-lg focus:outline-none'}}) }}
<div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{ form_errors(userForm.lastname) }}</div>

{{ form_label(userForm.imageFile, 'Photo', {'label_attr': {'class': 'uppercase mt-4'}, errors: []}) }}
                    {{ form_widget(userForm.imageFile, {'attr': {'class': 'border px-4 ring-2 focus:ring-blue-300 ring-transparent transform duration-200 ease-in-out py-2 rounded-lg focus:outline-none'}}) }}
<div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{ form_errors(userForm.imageFile) }}</div>

{{ form_label(userForm.email, 'Email', {'label_attr': {'class': 'uppercase mt-4'}, errors: []}) }}
                    {{ form_widget(userForm.email, {'attr': {'class': 'border px-4 ring-2 focus:ring-blue-300 ring-transparent transform duration-200 ease-in-out py-2 rounded-lg focus:outline-none'}}) }}
<div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{ form_errors(userForm.email) }}</div>

{#{{ form_label(userForm.role, 'Rôle', {'label_attr': {'class': 'uppercase mt-4'}, errors: []}) }}
                    {{ form_widget(userForm.role, {'attr': {'class': 'border px-4 ring-2 focus:ring-blue-300 ring-transparent transform duration-200 ease-in-out py-2 rounded-lg focus:outline-none'}}) }}
<div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{ form_errors(userForm.role) }}</div>#}

{{ form_label(userForm.phone, 'Téléphone', {'label_attr': {'class': 'uppercase mt-4'}, errors: []}) }}
                    {{ form_widget(userForm.phone, {'attr': {'class': 'border px-4 ring-2 focus:ring-blue-300 ring-transparent transform duration-200 ease-in-out py-2 rounded-lg focus:outline-none'}}) }}
<div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{ form_errors(userForm.phone) }}</div>

{{ form_label(userForm.birthday, 'Date de naissance', {'label_attr': {'class': 'uppercase mt-4'}, errors: []}) }}
                    {{ form_widget(userForm.birthday, {'attr': {'class': 'border px-4 ring-2 focus:ring-blue-300 ring-transparent transform duration-200 ease-in-out py-2 rounded-lg focus:outline-none'}}) }}
<div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{ form_errors(userForm.birthday) }}</div>

{{ form_label(userForm.address, 'Adresse', {'label_attr': {'class': 'uppercase mt-4'}, errors: []}) }}
                    {{ form_widget(userForm.address, {'attr': {'class': 'border px-4 ring-2 focus:ring-blue-300 ring-transparent transform duration-200 ease-in-out py-2 rounded-lg focus:outline-none'}}) }}
<div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{ form_errors(userForm.address) }}</div>

{{ form_label(userForm.license, 'License Judo', {'label_attr': {'class': 'uppercase mt-4'}, errors: []}) }}
                    {{ form_widget(userForm.license, {'attr': {'class': 'border px-4 ring-2 focus:ring-blue-300 ring-transparent transform duration-200 ease-in-out py-2 rounded-lg focus:outline-none'}}) }}
<div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{ form_errors(userForm.license) }}</div>

<button class="h-16 bg-gradient-to-br from-blue-500 to-purple-600 rounded-lg p-4 text-white mt-4">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(userForm) }}
